<ion-content>
    <ion-list class="eventInfo">
        <ion-item>
            <ion-label class="title">Jogatina de CS:GO após a faculdade</ion-label>
        </ion-item>
        <ion-item>
            <ion-label class="description">Jogatina de CS:GO após a faculdade  Jogatina de CS:GO após a faculdade  Jogatina de CS:GO após a faculdade  Jogatina de CS:GO após a faculdade  Jogatina de CS:GO após a faculdade  Jogatina Jogatina de</ion-label>
        </ion-item>
        <div class="imgContainer">
            <img src="https://www.collinsdictionary.com/images/full/wolf_9162886.jpg">
        </div>
    </ion-list>

    <ion-label class="participantsTitle">Participantes confirmados: </ion-label>
    <ion-list class="participants">
        <ion-item>
            <img src="https://www.collinsdictionary.com/images/full/wolf_9162886.jpg">
            <ion-label>Elian Rodrigues Ribeiro</ion-label>
        </ion-item>
    </ion-list>

    <ion-fab class="confirmEventButton" horizontal="end" vertical="bottom">
        <ion-button shape="round">Confirmar paticipação</ion-button>
      </ion-fab>
</ion-content>