.register{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 400px;
    max-width: 500px;
    background-color: rgb(68, 68, 68);
    margin-left: 35%;
    margin-top: 15%;
    border-radius: 10px;

    .registerForm{
        display: flex;
        flex-direction: column;
    }

    h1{
        color: white;
    }

    input{
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        min-width: 400px;
    }

    button{
        border-radius: 10px;
        padding: 10px;
        border: none;
        background-color: rgb(30, 30, 30);
        color: white;
        cursor: pointer;
    }
    p{
        color: white;
        cursor: pointer;
    }   
}
