<ion-content [fullscreen]="true">
  <div class="imgContainer">
    <img src="https://www.collinsdictionary.com/images/full/wolf_9162886.jpg">
  </div>
  <form class="profileForm">
    <ion-item>
      <ion-input type="text" placeholder="Nome de usuário"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="Número de celular"></ion-input>
    </ion-item>

    <ion-button class="confirmButton" shape="round">Confirmar alterações</ion-button>
    <ion-button (click)="logout()" shape="round" color="danger">Sair dessa conta</ion-button>
  </form>
</ion-content>
