.homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 950px;
    min-width: 700px;
    background-color: rgb(68, 68, 68);
    border-radius: 10px; 

    .eventCard{
        background-color: rgb(30, 30, 30);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        min-height: 100px;
        min-width: 300px;
    }
}