<ion-content [fullscreen]="true">
  <form class="registerForm">
    <img src="../../../assets/img/ev-point-station-icon.png">
    <ion-item>
      <ion-input type="text" placeholder="E-mail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Senha"></ion-input>
    </ion-item>
    <ion-button shape="round">Logar</ion-button>
    <p>Esqueceu sua senha? Recupere ela aqui</p>
    <p (click)="goToRegisterPage()">Não tem uma conta? Registre uma aqui</p>
  </form>
</ion-content>
