<ion-content [fullscreen]="true">
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()" novalidate class="registerForm">
    <img src="../../../assets/img/ev-point-station-icon.png">
    <ion-item>
      <ion-input type="text" placeholder="Nome de usuário"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="email" type="text" placeholder="E-mail"></ion-input>
    </ion-item>
    <span *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">Email é obrigatório</span>
    <span *ngIf="registerForm.get('email')?.dirty && registerForm.get('email')?.errors?.['email']">Formato de Email Inválido</span>
    <ion-item>
      <ion-input type="number" placeholder="Número de celular"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item>
    <span *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']">Senha é obrigatória</span>
    <span *ngIf="registerForm.get('password')?.dirty && registerForm.get('password')?.errors?.['minlength']">A senha é de no mínimo 6 caracteres</span>
    <ion-item>
      <ion-input type="password" placeholder="Confirmar senha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="file"></ion-input>
    </ion-item>
    <ion-button type="submit" shape="round">Registrar</ion-button>
    <p (click)="goToLoginPage()">Já tem uma conta? Faça login aqui</p>
  </form>
</ion-content>
