<ion-icon (click)="goBackToPreviousPage()" color="primary" class="backicon" name="chevron-back-outline"></ion-icon>
<ion-content [fullscreen]="true">
  <form [formGroup]="eventForm" class="editEventForm" (ngSubmit)="showConfirmEventEdit()">
    <ion-item>
      <ion-input formControlName="eventTitle" type="text" placeholder="Título do evento (máx. 50)"></ion-input>
    </ion-item>
    <span *ngIf="eventForm.get('eventTitle')?.touched && eventForm.get('eventTitle')?.errors?.['required']">Título do evento é obrigatório</span>
    <span *ngIf="eventForm.get('eventTitle')?.dirty && eventForm.get('eventTitle')?.errors?.['minlength']">Título do evento deve ter no mínimo 10 caracteres</span>
    <span *ngIf="eventForm.get('eventTitle')?.dirty && eventForm.get('eventTitle')?.errors?.['maxlength']">Título do evento deve ter no máximo 50 caracteres</span>
    <ion-item>
      <ion-input formControlName="eventDesc" class="eventDesc" type="text" placeholder="Descrição do evento (certifique-se de colocar horário e local) (máx. 200)"></ion-input>
    </ion-item>
    <span *ngIf="eventForm.get('eventDesc')?.touched && eventForm.get('eventDesc')?.errors?.['required']">Descrição do evento é obrigatória</span>
    <span *ngIf="eventForm.get('eventDesc')?.dirty && eventForm.get('eventDesc')?.errors?.['minlength']">Descrição do evento deve ter no mínimo 50 caracteres</span>
    <span *ngIf="eventForm.get('eventDesc')?.dirty && eventForm.get('eventDesc')?.errors?.['maxlength']">Descrição do evento deve ter no máximo 200 caracteres</span>
    <ion-item>
      <ion-input formControlName="maxParticipants" class="maxParticipants" type="number" placeholder="Máximo de participantes (min 2)"></ion-input>
    </ion-item>
    <span *ngIf="eventForm.get('maxParticipants')?.touched && eventForm.get('maxParticipants')?.errors?.['required']">O número de participantes é obrigatório</span>
    <span *ngIf="eventForm.get('maxParticipants')?.dirty && eventForm.get('maxParticipants')?.errors?.['min']">O mínimo de participantes são 2</span>
    <ion-item>
      <ion-input formControlName="eventLocation" class="eventLocation" type="text" placeholder="Local do evento (máx 50)"></ion-input>
    </ion-item>
    <span *ngIf="eventForm.get('eventLocation')?.touched && eventForm.get('eventLocation')?.errors?.['required']">O local do evento é obrigatório</span>
    <span *ngIf="eventForm.get('eventLocation')?.dirty && eventForm.get('eventLocation')?.errors?.['minlength']">Local deve ter no mínimo 10 caracteres</span>
    <span *ngIf="eventForm.get('eventLocation')?.dirty && eventForm.get('eventLocation')?.errors?.['maxlength']">Local deve ter no máximo 50 caracteres</span>
    <ion-item>
      <ion-input formControlName="eventDate" class="eventDate" type="text" placeholder="Data do evento (dd/mm/aaaa)"></ion-input>
    </ion-item>
    <span *ngIf="eventForm.get('eventDate')?.touched && eventForm.get('eventDate')?.errors?.['required']">Data do evento é obrigatório</span>
    <span *ngIf="eventForm.get('eventDate')?.dirty && eventForm.get('eventDate')?.errors?.['invalidDate']">Formato da data inválido</span>
    <ion-item>
      <ion-input formControlName="eventTime" class="eventTime" type="text" placeholder="Horário do evento (hh:mm)"></ion-input>
    </ion-item>
    <span *ngIf="eventForm.get('eventTime')?.touched && eventForm.get('eventTime')?.errors?.['required']">Horário do evento é obrigatório</span>
    <span *ngIf="eventForm.get('eventTime')?.dirty && eventForm.get('eventTime')?.errors?.['invalidTime']">Formato do horário inválido</span>
    <ion-item>
      <input type="file" #fileInput class="fileInput" (change)="uploadFile($event.target); changeFileInputLabelOnFileSelect(fileInput.value)" formControlName="eventImage">
      <label (click)="fileInput.click()" class="fileInputLabel">{{fileSelectLabelText}}</label>
    </ion-item>
    <ion-button class="editEventButton" shape="round" type="submit">Editar evento</ion-button>
  </form>
</ion-content>