<ion-content [fullscreen]="true">
  <form [formGroup]="eventForm" class="editEventForm" (ngSubmit)="showConfirmEventEdit()">
    <ion-item>
      <ion-input formControlName="eventTitle" type="text" placeholder="Título do evento (máx. 50)"></ion-input>
    </ion-item>
    <span *ngIf="eventForm.get('eventTitle')?.touched && eventForm.get('eventTitle')?.errors?.['required']">Título do evento é obrigatório</span>
    <span *ngIf="eventForm.get('eventTitle')?.dirty && eventForm.get('eventTitle')?.errors?.['minlength']">Título do evento deve ter no mínimo 10 caracteres</span>
    <span *ngIf="eventForm.get('eventTitle')?.dirty && eventForm.get('eventTitle')?.errors?.['maxlength']">Título do evento deve ter no máximo 50 caracteres</span>
    <ion-item>
      <ion-input formControlName="eventDesc" class="eventDesc" type="text" placeholder="Descrição do evento (certifique-se de colocar horário e local) (máx. 200)"></ion-input>
    </ion-item>
    <span *ngIf="eventForm.get('eventDesc')?.touched && eventForm.get('eventDesc')?.errors?.['required']">Descrição do evento é obrigatória</span>
    <span *ngIf="eventForm.get('eventDesc')?.dirty && eventForm.get('eventDesc')?.errors?.['minlength']">Descrição do evento deve ter no mínimo 50 caracteres</span>
    <span *ngIf="eventForm.get('eventDesc')?.dirty && eventForm.get('eventDesc')?.errors?.['maxlength']">Descrição do evento deve ter no máximo 200 caracteres</span>
    <ion-item>
      <ion-input formControlName="maxParticipants" class="maxParticipants" type="number" placeholder="Máximo de participantes (min 2)"></ion-input>
    </ion-item>
    <span *ngIf="eventForm.get('maxParticipants')?.touched && eventForm.get('maxParticipants')?.errors?.['required']">O número de participantes é obrigatório</span>
    <span *ngIf="eventForm.get('maxParticipants')?.dirty && eventForm.get('maxParticipants')?.errors?.['min']">O mínimo de participantes são 2</span>
    <ion-item>
      <ion-input formControlName="eventLocationDateAndTime" class="eventLocationDateAndTime" type="text" placeholder="Local, data e hora do evento (máx. 50)"></ion-input>
    </ion-item>
    <span *ngIf="eventForm.get('eventLocationDateAndTime')?.touched && eventForm.get('eventLocationDateAndTime')?.errors?.['required']">O local, data e hora do evento é obrigatório</span>
    <span *ngIf="eventForm.get('eventLocationDateAndTime')?.dirty && eventForm.get('eventLocationDateAndTime')?.errors?.['minlength']">Local, data e hora deve ter no mínimo 10 caracteres</span>
    <span *ngIf="eventForm.get('eventLocationDateAndTime')?.dirty && eventForm.get('eventLocationDateAndTime')?.errors?.['maxlength']">Local, data e hora deve ter no máximo 50 caracteres</span>
    <ion-item>
      <input type="file" #fileInput class="fileInput" (change)="uploadFile($event.target); changeFileInputLabelOnFileSelect(fileInput.value)" formControlName="eventImage">
      <label (click)="fileInput.click()" class="fileInputLabel">{{fileSelectLabelText}}</label>
    </ion-item>
    <ion-button class="editEventButton" shape="round" type="submit">Editar evento</ion-button>
  </form>
</ion-content>