<ion-content [fullscreen]="true">
  <form class="newEventForm">
    <ion-item>
      <ion-input type="text" placeholder="Título do evento (máx. 50)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="eventDesc" type="text" placeholder="Descrição do evento (certifique-se de colocar horário e local) (máx. 200)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="maxParticipants" type="number" placeholder="Máximo de participantes (min 2)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="file"></ion-input>
    </ion-item>
    <ion-button shape="round">Criar evento</ion-button>
  </form>
</ion-content>