<ion-icon (click)="goBackToPreviousPage()" color="primary" class="backicon" name="chevron-back-outline"></ion-icon>
<ion-content style="overflow: hidden;" [fullscreen]="true">
  <div class="imgContainer">
    <img *ngFor="let user of userInfo" src={{user.imageURL}}>
  </div>
  <form (ngSubmit)="showConfirmProfileEdit()" [formGroup]="profileForm" class="profileForm">
    <ion-item>
      <ion-input formControlName="userName" type="text" placeholder="Nome de usuário"></ion-input>
    </ion-item>
    <span *ngIf="profileForm.get('userName')?.touched && profileForm.get('userName')?.errors?.['required']">Nome de usuário é obrigatório</span>
    <span *ngIf="profileForm.get('userName')?.dirty && profileForm.get('userName')?.errors?.['minlength']">O nome de usuário deve ter no mínimo 4 caracteres</span>
    <span *ngIf="profileForm.get('userName')?.dirty && profileForm.get('userName')?.errors?.['maxlength']">O nome de usuário deve ter no máximo 50 caracteres</span>
    <ion-item>
      <ion-input formControlName="phoneNumber" type="number" placeholder="Número de celular"></ion-input>
    </ion-item>
    <span *ngIf="profileForm.get('phoneNumber')?.touched && profileForm.get('phoneNumber')?.errors?.['required']">Número de celular é obrigatório</span>
    <span *ngIf="profileForm.get('phoneNumber')?.dirty && profileForm.get('phoneNumber')?.errors?.['validatePhoneNumber']">Formato de número de celular inválido</span>
    <ion-item>
      <input type="file" #fileInput class="fileInput" (change)="uploadFile($event.target); changeFileInputLabelOnFileSelect(fileInput.value)" formControlName="profileImage">
      <label (click)="fileInput.click()" class="fileInputLabel">{{fileSelectLabelText}}</label>
    </ion-item>
    <ion-button class="confirmButton" shape="round" type="submit">Confirmar alterações</ion-button>
    <ion-button (click)="showConfirmLogout()" shape="round" color="danger">Sair dessa conta</ion-button>
  </form>
</ion-content>
