<ion-content>

  <div class="profile">
    <img (click)="goToProfilePage()" class="profilePicture" src="../../../assets/img/Screenshot_1.png">
    <ion-label (click)="goToProfilePage()" class="profileName">Elian Ribeiro</ion-label>
  </div>

  <ion-label class="welcomeMessage"> Bem vindo ao E-vents, Elian.</ion-label>
  <ion-label class="welcomeMessage2"> A seguir, os eventos disponíveis:</ion-label>
  
  <ion-list class="eventsList" [inset]="true">
    <ion-item (click)="goToEventPage()" *ngFor="let pokemon of this.pokemonList; let i = index" class="eventItem">
      <ion-label>{{pokemon}}</ion-label>
      <p>Descrição básica do evento</p>
    </ion-item>
  </ion-list>

  <ion-fab class="newEventButton" horizontal="end" vertical="bottom">
    <ion-button (click)="goToNewEventPage()" shape="round">Novo evento</ion-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="list-outline"></ion-icon>
      Todos os eventos
    </ion-tab-button>
    <ion-tab-button (click)="goToMyEventsPage()" tab="radio">
      <ion-icon name="construct-outline"></ion-icon>
      Meus eventos
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>