<ion-content>

  <div class="profile">
    <img *ngFor="let user of userInfo" (click)="goToProfilePage()" class="profilePicture" src={{user.imageURL}}>
    <ion-label (click)="goToProfilePage()" *ngFor="let user of userInfo" class="profileName">{{user.userName}}</ion-label>
  </div>

  <ion-label *ngFor="let user of userInfo" class="welcomeMessage"> Bem vindo ao E-vents, {{user.userName}}.</ion-label>
  <ion-label class="welcomeMessage2"> A seguir, os eventos disponíveis:</ion-label>
  
  <ion-list class="eventsList" [inset]="true">
    <ion-item (click)="goToEventPage(i)" *ngFor="let event of events; let i = index" class="eventItem">
      <ion-label>{{event.eventTitle}}</ion-label>
      <p>{{event.eventDesc}}</p>
    </ion-item>
  </ion-list>

  <ion-fab class="newEventButton" horizontal="end" vertical="bottom">
    <ion-button (click)="goToNewEventPage()" shape="round">Novo evento</ion-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="list-outline"></ion-icon>
      Todos os eventos
    </ion-tab-button>
    <ion-tab-button (click)="goToMyEventsPage()" tab="radio">
      <ion-icon name="construct-outline"></ion-icon>
      Meus eventos
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>