<ion-icon (click)="goBackToPreviousPage()" class="backicon" name="chevron-back-outline"></ion-icon>
<ion-content>
    <ion-list class="eventInfo">
        <ion-label class="title">{{selectedEvent?.eventTitle}}</ion-label>
        <ion-label class="description">{{selectedEvent?.eventDesc}}</ion-label>
        <ion-label class="locationDateAndTime">Localização, data e hora: {{selectedEvent?.eventLocation}}, {{selectedEvent?.eventDate}}, {{selectedEvent?.eventTime}}</ion-label>
        <div class="imgContainer">
            <img src="{{selectedEvent?.imageURL}}">
        </div>
    </ion-list>

    <ion-label class="ownerTitle">Criador do evento:</ion-label>
    <ion-list class="owner">
        <ion-item class="ownerItem">
            <img src="{{owner?.imageURL}}">
            <ion-label>{{owner?.userName}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-label class="participantsTitle">Participantes confirmados ({{currentParticipantsNumber}} de {{selectedEvent?.maxParticipants}}): </ion-label>
    <ion-list class="participants">
        <ion-item class="participant" *ngFor="let participant of eventParticipants; let i = index">
            <img src="{{participant.participantProfileImage}}">
            <ion-label>{{participant.participantName}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-fab *ngIf="isUserEventOwner && shouldShowOwnerButtons" class="deleteEventButton" horizontal="end" vertical="bottom">
        <ion-button (click)="showConfirmDeleteEvent()" shape="round" color="danger">Excluir evento</ion-button>
    </ion-fab>
    <ion-fab *ngIf="isUserEventOwner && shouldShowOwnerButtons" class="configEventButton" horizontal="end" vertical="bottom">
        <ion-button (click)="openEventConfig()" shape="round" color="tertiary">Relatório do evento</ion-button>
    </ion-fab>
    <ion-fab  *ngIf="isUserEventOwner && shouldShowOwnerButtons" class="editEventButton" horizontal="end" vertical="bottom">
        <ion-button (click)="goToEditEvent()" shape="round" color="warning">Editar evento</ion-button>
    </ion-fab>
    <ion-fab *ngIf="isUserEventOwner" class="cogButton" horizontal="end" vertical="bottom">
        <ion-button (click)="toggleOwnerButtons()" shape="round">
            <ion-icon slot="icon-only" ios="cog-outline" md="settings-sharp"></ion-icon>
        </ion-button>
    </ion-fab>
    <ion-fab *ngIf="!isUserAlreadyEventParticipant" class="confirmEventButton" horizontal="end" vertical="bottom">
        <ion-button shape="round" (click)="showConfirmEventParticipation()">Confirmar paticipação</ion-button>
    </ion-fab>
    <ion-fab *ngIf="isUserAlreadyEventParticipant" class="confirmEventButton" horizontal="end" vertical="bottom">
        <ion-button shape="round" (click)="showConfirmEventCancelParticipation()">Cancelar paticipação</ion-button>
    </ion-fab>
</ion-content>