<ion-content>
    <ion-list class="eventInfo">
        <ion-item>
            <ion-label class="title">{{event?.eventTitle}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label class="description">{{event?.eventDesc}}</ion-label>
        </ion-item>
        <div class="imgContainer">
            <img src="{{event?.eventImg}}">
        </div>
    </ion-list>

    <ion-label class="ownerTitle">Criador do evento:</ion-label>
    <ion-list class="owner">
        <ion-item>
            <img src="{{event?.ownerImage}}">
            <ion-label>{{event?.ownerName}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-label class="participantsTitle">Participantes confirmados ({{currentParticipantsNumber}} de {{selectedEvent?.maxParticipants}}): </ion-label>
    <ion-list class="participants">
        <ion-item *ngFor="let participant of eventParticipants">
            <img src="{{participant.participantProfileImage}}">
            <ion-label>{{participant.participantName}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-fab *ngIf="isUserEventOwner" class="deleteEventButton" horizontal="end" vertical="bottom">
        <ion-button (click)="showConfirmDeleteEvent()" shape="round" color="danger">Excluir evento</ion-button>
    </ion-fab>
    <ion-fab *ngIf="isUserEventOwner" class="editEventButton" horizontal="end" vertical="bottom">
        <ion-button (click)="goToEditEvent()" shape="round" color="warning">Editar evento</ion-button>
    </ion-fab>
    <ion-fab *ngIf="!isUserAlreadyEventParticipant" class="confirmEventButton" horizontal="end" vertical="bottom">
        <ion-button shape="round" (click)="showConfirmEventParticipation()">Confirmar paticipação</ion-button>
    </ion-fab>
    <ion-fab *ngIf="isUserAlreadyEventParticipant" class="confirmEventButton" horizontal="end" vertical="bottom">
        <ion-button shape="round" (click)="showConfirmEventCancelParticipation()">Cancelar paticipação</ion-button>
    </ion-fab>
</ion-content>