<ion-content [fullscreen]="true">
  <form (ngSubmit)="submitForm()" [formGroup]="passwordResetForm" class="passwordResetForm">
    <img src="../../../assets/img/ev-point-station-icon.png">
    <ion-item>
      <ion-input formControlName="email" type="text" placeholder="E-mail"></ion-input>
    </ion-item>
    <span *ngIf="passwordResetForm.get('email')?.touched && passwordResetForm.get('email')?.errors?.['required']">E-mail é obrigatório</span>
    <span *ngIf="passwordResetForm.get('email')?.dirty && passwordResetForm.get('email')?.errors?.['email']">Formato de Email Inválido</span>
    <ion-button type="submit" shape="round">Enviar e-mail para mudar senha</ion-button>
  </form>
</ion-content>
