<ion-label class="participantsTitle">Participantes confirmados ({{currentParticipantsNumber}} de {{eventInfo?.maxParticipants}}): </ion-label>
<ion-list class="participants">
    <ion-item *ngFor="let participant of participants; let i = index">
        <img src="{{participant.participantProfileImage}}">
        <ion-label>{{participant.participantName}}</ion-label>
        <div class="icons">
          <ion-icon (click)="showConfirmRemoveParticipant(i)" name="trash-bin-outline" color="danger"></ion-icon>
          <ion-icon (click)="showConfirmChangeParticipationStatus(i)" *ngIf="!participant.didParticipantWentToEvent" name="checkmark-circle-outline"></ion-icon>
          <ion-icon (click)="showConfirmChangeParticipationStatus(i)" *ngIf="participant.didParticipantWentToEvent" name="close-circle-outline"></ion-icon>
          <ion-icon name="options-outline" (click)="goToParticipantInfoPage(i)"></ion-icon>
        </div>
    </ion-item>
</ion-list>

<ion-fab class="configEventButton" horizontal="end" vertical="bottom">
  <ion-button (click)="downloadPDFWithData()" shape="round">Gerar PDF</ion-button>
</ion-fab>