.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}