<ion-content style="overflow: hidden;" [fullscreen]="true">
    <div class="imgContainer">
      <img src="{{participant?.participantProfileImage}}">
    </div>
    <div class="infoContainer">
        <ion-label class="vertical-label">{{participant?.participantName}}</ion-label>
        <ion-label class="vertical-label">{{participant?.participantPhoneNumber}}</ion-label>
        <ion-label class="vertical-label">{{participant?.participantEmail}}</ion-label>
        <ion-label class="vertical-label">Participou? {{didParticipantWentToEvent}}</ion-label>
        <ion-label class="vertical-label">(Não divulgue sem autorização)</ion-label>
    </div>
</ion-content>
  